<html>
<head>
<title>Shutdown - Click</title>
<style>
body
{
    width: 400px;
    height: 400px;
    background-color: black;
}

  img
  {
    width: 10%;
    height: 10%;
    border-radius: 20px;
  }
  select
  {
    width: 8%;
    height: 8%;
  }
</style>
</head>
<body>
<div>
    <select>
      <option id="0" value="192.168.0.100">PC</option>
      <option id="1" value="192.168.0.101">Laptop</option>
    </select>
    <div>
        <img id="2" src="https://cdn-icons-png.flaticon.com/512/929/929466.png">
        <img id="3" scr="">
        <img id="4" scr=""> 
    </div>
</div>
</body>
</html>